from typing import List
from core.__seedwork.infra.http import Http
from core.providers.infra.template.base import Base
from core.providers.domain.entities import Chapter, Pages, Manga

class {{class}}Provider(Base):
    name = '{{ name }}'
    lang = '{{lang}}'
    domain = ['{{domain}}']

    def __init__(self) -> None:
        pass
    
    def getManga(self, link: str) -> Manga:
        pass

    def getChapters(self, id: str) -> List[Chapter]:
        pass

    def getPages(self, ch: Chapter) -> Pages:
        pass


