from core.providers.infra.template.blogger_cms import BloggerCms

class {{class}}Provider(BloggerCms):
    name = '{{ name }}'
    lang = '{{lang}}'
    domain = ['{{domain}}']


    def __init__(self) -> None:
        self.get_title = 'header h1'
        self.API_domain = '{{domain}}'
        self.get_pages = 'div.separator a img'