from core.providers.infra.template.scan_madara_clone import ScanMadaraClone

class {{class}}Provider(ScanMadaraClone):
    name = '{{ name }}'
    lang = '{{lang}}'
    domain = ['{{domain}}']

    def __init__(self):
        self.url = '{{link}}'   